:root {
  --content-background: #88bcff;
}
* {
  padding: 0;
  margin: 0;
}

.text-center {
    text-align: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}

.header {
  background-color: var(--content-background);
  height: 100px;
  display: flex;
  align-items: center;
}

.header__name {
  color: white;
  font-size: 32px;
  margin-left: 24px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  margin-right: 110px;
  /* justify-content: ; */
  align-items: center;
}

.header__nav__button {
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 22px;
}

.header__nav__button-full {
  display: block;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 50px;
}

.content-padding {
  padding: 100px;
}

.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.about_us__img {
  width: 558px;
  height: 746px;
}

.about_us__info {
    width: 500px;
}

.about_us__title {
    font-size: 48px;
    color: #0077FF;
    font-style: italic;
    font-weight: bold;
}

.about_us__text {
    font-size: 20px;
    color: #57A5FF;
}

.default-content {
    background-color: var(--content-background);
    padding: 20px;
}

.news {

}

.news__title {
    font-size: 36px;
    padding-left: 125px;
    padding-bottom:  53px;
    font-style: italic;
}

.news__content {
    display: flex;
    align-items: center;
}

.news__image__box {
    margin-right: 34px;
}

.blue-title {
    font-size: 36px;
    color: #0077FF;
    font-style: italic;
}

.command {
    display: flex;
    flex-wrap: wrap;
    gap: 79px;
    justify-content: center;
margin-top: 53px;
}
.command__item__image__box {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
}

.command__item__image {
    display: block;
    /* width: 100%;
    height: auto; */
}

.command__item__text {
    margin-top: 22px; 
    display: block;
    font-style: italic;
    text-align: center;
}

.description {
    display: grid;
    gap: 75px;
}

.footer {
    background-color: var(--content-background);
    height: 220px;
    padding: 35px;
}

.footer__info {
    color: white;
}

.footer__info__title {
    font-size: 32px;
    font-style: italic;
}

.footer__info__text {
    font-style: italic;
    font-size: 24px;
}

.footer__info__text__underline {
    text-decoration: underline;
}